
<h1>Home page</h1>
<hr>
<div ng-repeat="article in articles">
  <div >
    <article  class="row">
      <h2>{{article.title}}</h2>
      <img ng-src="{{article.img}}" class="img-responsive">
      <p>{{article.text}}</p>
    </article>
  </div>
</div>
<nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>