
/*--- Base colors ---*/
@header: darkgray;
@container: WhiteSmoke ;
@footer: DimGray;
  /*--- /Base colors ---*/

/*--- Header---*/
.header {
  color: @header;
  .navbar{
    margin: 0;
  }
}
.header-panel{
  height: 200px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f8f8+0,f5f5f5+100 */
  background: rgb(248,248,248); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(245,245,245,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(245,245,245,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(248,248,248,1) 0%,rgba(245,245,245,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */

}
/*--- /Header---*/

/*--- Body---*/
.content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px;
  background-color: @container;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  .paginator{
    text-align: center;
  }

}

  /* home */
  #home article{
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid lightgrey;
    z-index: 5;
    position: relative;

    img{
      max-height: 300px;
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    hr{
      margin-top: 5px;
    }
    .detail{
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
  #post{
    img{
      margin: 0 15px 15px 0;
      max-height: 600px;
    }
    .backLink{
      font-size: 16px;

    }
    h3{
      margin-top: 15px;
    }
  }
  /* /home */

  /* catalog */
  #catalog{
    .filterForm {
      margin: 0 !important;
      z-index: 9999;
      -webkit-transition: height .3s ease;
      transition: all .3s ease;
      height: 0;
      opacity: 0;
    }
    .filterForm.active {
      height: 150px;
      opacity: 1;
    }
    button{
      margin: 10px;
    }
    .row{
      margin: 0;
      padding: 0;
    }
    .cont{
      text-align: center;
      height: 350px;
      border-radius: 5px;
      padding-right: 5px;
      padding-left: 5px;
      .innerCol{
        height: 350px;
        box-shadow: 0px 2px 5px lightgray;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 5px;
      }
      img{

        max-height: 150px;
        margin: auto;
        margin-bottom: 10px;

      }
      .detail{
        position: absolute;
        bottom: 10px;
        right: 10px;
      }
    }
  }

  /* /catalog */

  /* product */

  #item{
    padding: 10px;
    .fullImage{
      margin: 0 auto;
    }
    .backLink{
      margin-bottom: 15px;
    }
    ul{
      list-style-type: none;
      padding: 15px;
      display: block;
      font-size: 18px;
    }
    .backLink{
      font-size: 16px;
    }
    .productInfo{
      float: left;
    }
  }
  #slider{

    .sliderMainImg{
      img{
        display: block;
        margin: 0 auto;

      }
    }
    .thumbCollection{
      margin: 10px;

      .thumbItems{
      }
      .thumbItem{
        margin: 2px;
        border: 1px solid lightgray;
        border-radius: 5px;
        background-color: white;
        float:left;
        max-height: 100px;
        width: 100px;
        cursor: pointer;

        img{
          display: block;
          margin: 0 auto;
          max-height: 100px;
        }
      }
    }
  }

  /* /product */



  /* about */
  #about{
    img{
      float: left;
      margin: 0 15px 15px 0;
    }
  }
  /* /about */

  /* contact */

  #contact form{
    margin: auto;
    width: 50%;
    padding: 15px;

    .group{
      float: left;
      width: 100%;
      margin-left: 15px;
    }
    button{
      margin-left: 15px;
    }
    .show-success .form-control {
      border-color: lightgreen;
    }
    .form-group .help-label{
      display: none;
    }
    .form-group.has-error .help-label{
      display: block;
    }
  }

  /* /contact */

/*--- /Body---*/

/*--- Footer---*/
footer{
  margin-top: -1px;
  height: 300px;
  z-index: 3;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f5f5+0,a9a9a9+100 */
  background: rgb(245,245,245); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(245,245,245,1) 0%, rgba(169,169,169,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(169,169,169,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(245,245,245,1) 0%,rgba(169,169,169,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#a9a9a9',GradientType=0 ); /* IE6-9 */
  border-top: 1px solid lightgrey;
}
/*--- /Footer---*/

/*--- Admin panel---*/
#adminPanel{
  margin: 0;
  padding: 0;
}
#leftPanel{
  background-color: lightgray;
  text-align: center;
  a{
    cursor: pointer;
    height: 50px;
    width: 100%;
    padding: 15px;
    background-color: #28a4c9;
    float: left;
  }
  a:hover{
    background-color: white;
    text-decoration: none;
  }
  a.active{
    background-color: white;
  }

}
#contentPanel{
  background-color: white;
  .create{
    float: right;
    margin: 10px;
  }
  .productsList{
    clear: both;
    border: 1px solid lightgray;
    margin-top: 5px;
    h4{
      text-align: center;
    }
    span{
      cursor: pointer;
      float: right;
    }
    p{
      margin-left: 5px;
    }
    .productsListInnerContent{
      img{
        display: block;
        margin: 0 auto;
        max-height: 300px;
      }
      h4{
        clear: both;
        padding-top: 10px;
      }
      ul{
        list-style: none;
      }
      button{
        margin: 10px;
      }
      .innerContentThumbList{
        img{
          max-height: 100px;
          float: left;
          margin: 5px;
        }
      }

    }
  }
  .postsList{
    clear: both;
    img{
      max-height: 300px;
    }
  }
}
.postsCreate{

}


/*--- /Admin panel---*/


/*====================================== Responsive ============================================*/

@media (min-width: 768px){
  .col-sm-3 {
    width: 100%;
  }
}