<div id="catalog">
  <h2>Catalog page</h2>
  <hr>
  <button type="button" class="btn btn-lg " ng-click="showFilterForm()">
    Filter <span class="glyphicon glyphicon-menu-right"></span>
  </button>
  <div class="filterForm" ng-class="{'active':isdisplay}" >
    <label>Name: <input type="text" ng-model="searchBy.itemTitle"></label> <br>
    <label>Rating: <input type="checkbox" ng-model="orderBy.rating"></label> <br>
    <label>Price:</label><label><input type="checkbox" ng-model="orderBy.price"></label><br>
  </div>
  <div class="row">
    <div ng-repeat="item in list">
      <div class="cont col-md-3 ">
        <div class="innerCol">
        <h4>{{item.name}} {{item.date}}</h4>
          <a ng-href="#/catalog/{{item.name}}"><img ng-src="{{item.thumbnail}}"  class="img-responsive" ></a>
          <p>{{item.shortDescr}}</p>
          <p>{{item.price | currency}} / {{item.volume}}</p>
          <p>Rating: {{item.rating}}</p>
          <a href="#/catalog/{{item.name}}" class="detail btn btn-default" role="button">Details</a>
        </div>
        </div>
    </div>
  </div>
<div class="paginator">
  <uib-pagination  ng-model="currentPage" ng-change="numPages()"  items-per-page="numPerPage" total-items="totalItems" max-size="maxSize"></uib-pagination>
</div>
</div>