<div id="item">
  <a class="backLink" ng-href="#catalog"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Return</a>
  <h3>{{product.name}} {{product.date}}</h3>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div id="slider">
        <div class="sliderMainImg">
          <img ng-src="{{product.thumbnail}}">
        </div>
        <div class="thumbCollection">
          <div class="thumbItems">
            <div class="thumbItem" ng-repeat="image in product.images" ng-click="change(image)">
              <img ng-src="{{image.imgUrl}}" class="img-thumbnail" >
            </div>
          </div>
        </div>
    </div>

    </div>
    <div class="col-md-6">
      <ul>
        <li ng-if="product.date">Date of bottling: {{product.date}}</li>
        <li>Volume: {{product.volume}}</li>
        <li>Price: {{product.price | currency}}</li>
        <li>Rating: {{product.rating}}</li>
      </ul>
      <p>{{product.fullDescr}}</p>
    </div>
  </div>

</div>
